*{
    margin: 0;
}
.titlebar{
    -webkit-app-region: drag;
    height: 54px;
    width: 100%;
    position: absolute;
}
body{
    height: 100vh;
}
.wrapper{
    background-color: #262728;
    width: 100%;
    height: 100%;
    /* width: 1000px; */
    /* height: 650px; */
}